article.art {
    margin-top: 30px;
    font-size: 24;
}

article.art h3 {
    margin-bottom: 3px;
    text-transform: uppercase;
}

article.art span {
    display: block;
    margin-bottom: 10;
    font-weight: bold;
    font-size: 9;
}

article.art p {
    font-size: 20;
}